.foot-panel {
  width: 100%;
  height: 350px;
}
.common-props {
  width: 1200px;
  margin-top: 20px;
  margin-left: 150px;
}
.first-foot-panel {
  height: 300px;
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid var(--text-clr);
}
.panel {
  width: 580px;
  display: flex;
  justify-content: space-evenly;
}
.content-heading {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  color: var(--text-clr);
}
.foot-panel-ops li {
  list-style: none;
  color: var(--text-clr);
}
.foot-panel-ops {
  padding: 0px auto;
}
.second-foot-panel {
  display: flex;
  justify-content: space-evenly;
}
.social-links {
  display: flex;
  list-style: none;
  justify-content: space-between;
  width: 100px;
}
